{% extends 'base.html' %}

{% block title %}
    create
{% endblock %}

{% block main %}
    <h1>Book CREATE</h1>
    <form method="post" action="{% url 'game_create' %}">
        {% csrf_token %}
<!--        <label for="title">Title:</label>-->
<!--        <input type="text" name="title" placeholder="kitob sarlavxasi ..." required> <br> <br>-->
<!--        <label for="description">Description:</label>-->
<!--        <input type="text" name="description" placeholder="kitob tavsifu ..." required><br> <br>-->
<!--        <label for="price">Price:</label>-->
<!--        <input type="number" name="price" placeholder="kitob narxi ..." required> <br><br>-->

        {{ form.as_p }}
        <button>saqlash</button>
        <a href="{% url 'game_list' %}">
            back</a>
    </form>



{% endblock %}